body {
    display: flex;
    justify-content: center;
}

#color-choice {
    margin: auto;
}

#title {
    font-size: 36px;
    font-weight: bold;
}

#name {
    font-family: 'Michroma', sans-serif;
}