.custom-button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Michroma', sans-serif;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 70vw;
  
    &:hover {
      background-color: #2980b9;
    }
  }